# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Django
*.log
*.pot
*.pyc
media/
staticfiles/
local_settings.py
.env
.env.*
db.sqlite3
db.sqlite3
db.sqlite3-journal
*.sqlite3
*.db

**/migrations/*.pyc

# VS Code
.vscode/

# PyCharm
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Virtualenv
venv/
myenv/
env/
ENV/
.venv/
pip-selfcheck.json

# Coverage & testing
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover

# Build
build/
dist/
*.egg-info/

# Celery beat schedule
celerybeat-schedule

# dirs
temps/
chroma_store/
