.custom-dashboard .tab.active {
    background-color: #ffffff0d;
    border-radius: 5px;
}

.custom-dashboard .card {
    border-radius: .5rem;
}

.custom-dashboard .card h3 {
    color: #f0f8ffd1;
}

.custom-dashboard .card .text-2xl, .custom-dashboard .card svg {
    color: aliceblue;
}
